[server]
# username for running the daemon
username =
# hostname. set it to a FQDN in order to be reached from outside
host = 0.0.0.0
# ports
electrum_rpc_port = 8002
stratum_tcp_port = 5098
#stratum_tcp_ssl_port = 50002
#report_host =
#report_stratum_tcp_port = 50001
#report_stratum_tcp_ssl_port = 50002
password = secret
banner = Welcome to Electrum!
banner_file = /etc/electrum-tajcoin.banner
irc = yes
irc_nick = tajcoin
#ssl_certfile = /path/to/electrum-tajcoin-server.crt
#ssl_keyfile = /path/to/electrum-tajcoin-server.key
logfile = /var/log/electrum-tajcoin.log
donation_address =

# default backend is leveldb (pruning server)
backend = leveldb

[leveldb]
# path to your database
path =
# for each address, history will be pruned if it is longer than this limit
pruning_limit = 1000

[tajcoind]
tajcoind_host = localhost
tajcoind_port = 3791
# user and password from tajcoin.conf
tajcoind_user =
tajcoind_password =
